@import "tailwindcss";

:root {
  --primary: #A2AB73;
  --primary-light: #e0e7be;
  --primary: #a1b34c;
  --secondary: #CC3A63;
  --secondary-light: #e48ea6;
  --secondary-dark: #ce063e;
  --light: #ffffff;
  --dark:#000000;
}

@theme{
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-light: var(--light);
  --color-dark: var(--dark);
}